/*HEADER */
.avatar-header {
    width: 40px;
}

.container {
    min-height: calc(100% - 150px);
}

    @media (min-width: 1800px) {
        .container {
        max-width: 1700px;
    }
}



.headerIndex {
    width: 100%;
    height: calc(100vh - 150px);
    background-image: url(https://ssl.quiksilver.com/static/QS/default/category-assets/marketing-landing/landing/img/snow/tiles/snow_featured_2.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: default;
}