/*HEADER */
.avatar-header {
    width: 40px;
}

.container {
    min-height: calc(100% - 150px);
}

    @media (min-width: 1800px) {
        .container {
        max-width: 1700px;
    }
}

body {
    padding-bottom: 74px;
}



.headerIndex {
    width: 100%;
    height: calc(100vh - 150px);
    background-image: url(http://st.gde-fon.com/wallpapers_original/339682_snoubord_sneg_zima_1920x1080_www.Gde-Fon.com.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerIndex > h1 {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    color: white;
}
.button:hover {
    transform: translateY(-20px);
}
.button {
    height: 40px;
    width: 40px;
    background-image: url(https://image.flaticon.com/icons/svg/130/130907.svg);
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.button2 {
    height: 40px;
    width: 40px;
    background-image: url(https://image.flaticon.com/icons/svg/130/130907.svg);
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    transition: all 0.5s;
    transform: rotate(180deg);
}
.button2:hover {
    transform: translateY(-20px) rotate(180deg);
}

.container-button {
    position: relative;
}

.edit {
    height: 30px;
    width: 30px;
    background-image: url(https://image.flaticon.com/icons/svg/181/181540.svg);
    position: absolute;
    right: 60px;
    bottom: 20px;
}

.delete {
    height: 30px;
    width: 30px;
    background-image: url(https://image.flaticon.com/icons/svg/121/121116.svg);
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.position-absolute {
    top: 60px;
    right: 0px;
}

.img-fluid {
position: relative;
}

