/*HEADER */
.avatar-header {
    width: 40px;
}

.container {
    min-height: calc(100% - 150px);
}

    @media (min-width: 1800px) {
        .container {
        max-width: 1700px;
    }
}



.headerIndex {
    width: 100%;
    height: calc(100vh - 150px);
    background-image: url(https://atgbcentral.com/data/out/18/4041330-snowboard-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: default;
}

.headerIndex > h1 {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    color: white;
}
